body{
    /* background-color: cadetblue; */
    background-image: url(./background.png);
    background-repeat:no-repeat  round;
    background-size: 100%;
    background-attachment: fixed;
}
.box{
    width: 450px;
    height: 450px;
    border: black solid 2px;
    border-radius: 15px;
    background-color: violet;
    margin: auto;
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
}
.Answers{
    height: 30px;
    /* width: auto; */
    border: black solid 2px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
    /* align-items: flex-end; */
    /* flex-direction: column; */
    /* justify-content: flex-end; */
}