body{
    background-image: url(./background.png);
    background-repeat:no-repeat  round;
    background-size: 100%;
    background-attachment: fixed;
}
.box{
    width: 450px;
    height: 450px;
    border: black solid 2px;
    border-radius: 15px;
    background-color: violet;
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 429px;
    margin-top: 32px;

}
.Answers{
    height: 30px;
    border: black solid 2px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: white;
}


.check{
    width: 450px;
    height: 450px;
    border: black solid 2px;
    border-radius: 15px;
    background-color: wheat;
    text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 429px;
    margin-top: 32px;
}

.yes_no{
    margin-left: 63px;
    height: 30px;
    border: black solid 2px;
    border-radius: 15px;
    margin: 11px;
    padding: 5px;
    display: flex;
    color: brown;
    background-color: white;
}
h2{
    font-size: 27px;
    color: brown;
    font-family: sans-serif;
}

.Summary{
    width: 450px;
    height: 450px;
    border: black solid 2px;
    border-radius: 15px;
    background-color: wheat;
    margin-left: 429px;
    margin-top: 32px;
    text-align: center;
    display: inline-block;
}
.how{
    height: 30px;
    border: black solid 2px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: white; 
}

a{
    text-decoration: none;
    /* margin-left: 9px; */
    font-family: cursive;
    color: blue;
}
button{
    width: 100px;
    background-color: chocolate;
    margin-right: 107px;
    margin-top: 95px;
    font-size: 15px;
    font-family: emoji;
    color: cyan;
    font-size: 20px;
    font-family: math;
}
p3{
    margin-left: 240px;
}
p1{
    margin-left: 240px;
}
.box2{
    width: 450px;
    height: 450px;
    border: black solid 2px;
    border-radius: 15px;
    background-color: violet;
    text-align: center;
    margin-top: 80px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center;
    margin-left: 429px;
    margin-top: 32px;
}
.Answers2{
    height: 30px;
    border: black solid 2px;
    border-radius: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
    background-color: white;
}
p2{
    margin-left: 240px;
}
p4{
    margin-left: 240px;
}
h3{margin-top: 97px;font-family: cursive;color: brown;font-size: 25px;}
p5{
    display: inline-block;
    margin-top: 40px;
}
h1{
    text-align: center;
    margin-right: 245px;
    font-family: cursive;
    color: aqua;
    margin-top: 32px;
}
.one{
    margin-left: 130px;
    margin-top: 28px;
}